.C2wDashboardLogin_ctn{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020a14;
}

.C2wDashboardLogin_card{
    height: unset;
    background-color: #fff;
    width: 33vw;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 4px 4px 10px 0px #020a1471;
    box-sizing: border-box;
    padding: 30px;
    flex-direction: column;
}   

.logoHolder{
    height: 22%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_holder p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: red;
}

.logoHolder img{
    width: 100%;
}

form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    font-size: 16px;
    margin-top: 3%;
}

label{
    color: #909192;
}

.input_holder{
    height: unset;
    width: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    color: #020a14;
    font-size: 20px;
    position: relative;
}

.input_holder input{
    height:55px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: #F1F4F9;
    border: none;
}

.absolute_input{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.absolute_input svg{
    position: absolute;
    align-self: center;
    right: 10px;
    cursor: pointer;
}

.forgot_pass{
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    color: #909192; 
    cursor: pointer;
    width: 100%;
}

button{
    height: 55px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #1675f2;
    outline: none;
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    width: 85%;
    cursor: pointer;
    font-weight: 600;
}

button:hover{
    background-color: #f1c40f;
    color: #020a14;
}

@media screen  and (max-width: 768px){
    .C2wDashboardLogin_card{
        width: 90vw;
        padding: 10px;
    }
    form{
        font-size: 14px;
    }
    .input_holder{
        width: 90%;
    }
    button{
        width: 90%;
    }
}